.question-swiper{
    height: fit-content;
    width: calc(100vw - 64px);
    max-width: 356px; /*420px maxwidth - profilepic 40px - marginx 12px*2 - spacing 8px hstack */
}
.question-slide{
      width: fit-content;
      white-space: nowrap;
      font-weight: 500;
      font-size: large;
  }

.question-swiper .swiper-wrapper{
    transition-timing-function: linear;
  }


.article-swiper{
    height: 100%;
    width: 100%;
  }
  .text-slide{
    height: fit-content;
    max-width: 100%;
  }